@import "src/styles.scss";


main{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 20% 0;
  .progress-bar{
    width: 512px;
    margin: 0 auto;
    h1{
      color: rgba(0,0,0,0.3);
      text-align: center;
      letter-spacing: 2px;
    }
    .progress{
      background: rgba(0,0,0,0.1);
      height: 3px;
      width: 200px;
      padding: 0;
      margin: 0 auto;
      position: relative;
      &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 1px;
        background: $emerald;
        margin: 0 auto;
        animation: progress 1.5s ease-in-out infinite;
        @keyframes progress{
          0%{
            width: 0px;
          }
          95%{
            width: 100%;
          }
          100%{
            opacity: 0;
          }
        }
      }
    }
  }  
}
