@import "src/styles.scss";
@import "src/grid.scss";

main{
  width: 100%;
  section{
    width: 100%;
    margin: 0 auto;
    .action-bar{
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 100;
      list-style: none;
      background: transparent;
      li{
        display: inline-block;
        padding: 0px 10px;
        button{
          border: 1px solid $midnight-blue;
          color: $emerald;
          border-radius: 9px;
          font-size: 14px;
          background: $midnight-blue;
          &:hover{
            background: $wet-asphalt;
          }
        }
      }
    }
    .post-container{
        position: fixed;
        z-index: 100;
        width: 400px;
        height: calc(100vh - 65px);
        background: rgba(0,0,0,0.05);
        top: 65px;
        right: 0;
        form{
          margin: 10px;
          padding: 10px;
          background: $white;
          border-radius: 9px;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          position: absolute;
          top: 0;
          left: 0;
          &::after{
            content: "";
            clear: both;
            display: block;
          }
          h3{
            margin: 0px;
            color: $wet-asphalt;
          }
          textarea{
            border-radius: 9px;
          }
          button{
            border-radius: 9px;
            float :right;
            font-size: 14px;
          }
        }
        .posts{
          padding: 280px 10px 10px 10px;
          height: calc(100vh - 67px);
          overflow-y: auto;
          .motorist-post{
            @include animate-slide-up(0px);
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 9px;
            background: $white;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            &::after{ 
              content: " ";
              display: block; 
              clear: both; 
            }
            img{
              height: 100px;
            }
            h5{
              margin: 5px 0px;
              color: $emerald;
              vertical-align: middle;
              span{
                vertical-align: middle;
                color: rgba(0,0,0,0.3);
                font-size: 10px !important;
              }
            }
            p{
              color: $wet-asphalt;
            }
            input{
              display: inline-block;
              font-size: 14px;
              margin: 0;
              width: 75%;
            }
            button{
              float: right;
              width: 25%;
              font-size: 14px;
              padding: 10px;
            }
          }
        }
    }
    .container{
      position: fixed;
      z-index: 100;
      width: 300px;
      height: 100%;
      overflow-y: auto;
      background: $white;
      top: 0;
      left: 0;
      padding: 65px 10px;
      .motorist{
        padding: 10px;
        width: auto;
        border-radius: 9px;
        margin: 10px 0px;
        &:hover{
          background: rgba(0,0,0,0.1);
        }
        &:nth-child(even){
          background: rgba(0,0,0,0.05);
        }
        &:last-child{
          margin-bottom: 65px;
        }
        h2{
          color: $midnight-blue;
          span{
            font-size: 12px;
            vertical-align: middle;
            color: $nephritis;
          }
        }
        p{
          margin: 5px 0px;
        }
      }
    }
  }
}

.landing{
    height: auto !important;
    padding: 100px;
    .group{
      width: 1024px;
      margin: 0 auto;
    }
    &.cta{
      background: url(assets/bg/truck.jpg);
      background-size: cover;
      position: relative;
      div{
        text-align: center;
        position: relative;
        z-index: 100;
        h1{
          color: #fff;
          font-weight: 400;
          font-size: 60px;
        }
      }
      &::before{
        content: " ";
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(46, 204, 113, 0.2);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
   &.feat{
     .feat-img{
       width: 160px;
       margin: 0 auto;
       img{
         width: 100%;
         height: auto;
       }
     }
     .feat-desc{
       text-align: center;
       h3{
          color: $emerald;
          letter-spacing: 1px;
       }
       h5{
         color: rgba(0,0,0,0.5);
         font-weight: 300;
       }
     }
   }
   &.team{
     .team-img{
       width: 200px;
       height: 200px;
       border-radius: 100%;
       margin: 0 auto;
       overflow: hidden;
       img{
         height: auto;
         width: 100%;
       }
     }
     .team-desc{
       text-align: center;
       h3{
         color: $emerald;
       }
       h5{
         font-weight: 300;
       }
     }
   }
}
