<main *ngIf="role == 'safezone'">
  <section>
    <div class="post-container">
      <form>
        <h3>Post an advertisement</h3>
        <input #adTitle type="text" placeholder="Title">
        <textarea #adText placeholder="What do you want to advertise?"> </textarea><br>
        <input type="file" (change)="fileChangeEvent($event)" accept=".png,.jpg,.jpeg">
        <button (click)="submitAdvertisement(adText, adTitle)" name="button">Post</button>
      </form>
      <!--TODO: Adjust View and add Header/Title-->
      <div class="posts">
        <div class="motorist-post" *ngFor="let advertisement of advertisements | async">
          <h5>{{advertisement.title}} • <span>{{advertisement.timestamp | date: 'h:mm a'}}</span></h5>
          <img [src]="advertisement.img">
          <h6>{{advertisement.user.shop_name}}</h6>
          <p>{{advertisement.text}}</p>
        </div>
      </div>
    </div>
    <!-- <ul class="action-bar">
      <li>
        <button name="button">Safe Zones</button>
      </li>
      <li>
        <button name="button">Pin Location</button>
      </li>
      <li>
        <button name="button">Add Route</button>
      </li>
    </ul> -->
    <app-map [markers]="safezones" [posts]="posts"></app-map>
  </section>
</main>

<main *ngIf="role == 'motorist'">
  <section>
    <div class="post-container">
      <!-- <form>
        <h3>What concerns you? Let us know.</h3>
        <textarea placeholder="What's on your mind" [(ngModel)]="formText" [ngModelOptions]="{standalone: true}"> </textarea><br>
        <button (click)="submitPost()" name="button">Post</button>
      </form> -->
      <!--TODO: Adjust View and add Header/Title-->
      <div class="posts">
        <div class="motorist-post" *ngFor="let post of posts | async">
          <h5>{{post.user.given_name + ' ' + post.user.family_name}} • <span>{{post.timestamp | date: 'h:mm a'}}</span></h5>
          <p>{{post.text}}</p>
            <app-comment [post]="post.$key"></app-comment>
          <input #comment type="text" placeholder="comment here">
          <button type="button" (click)="submitComment(post,comment.value)">Submit</button>
        </div>
      </div>
    </div>
    <ul class="action-bar">
      <li>
        <button name="button">Safe Zones</button>
      </li>
      <li>
        <button name="button">Pin Location</button>
      </li>
      <li>
        <button name="button">Add Route</button>
      </li>
    </ul>
    <app-map [markers]="safezones" [posts]="posts"></app-map>
  </section>
</main>

<main *ngIf="!userService.isLoggedIn()" >
    <section class="cta-section landing">
      <div class="cta-card mob-scale">
        <h1>V I A J E</h1>
        <a href="#" class="cta-btn">Sign Up</a>
      </div>
    </section>
    <section class="feature-section landing">
      <div class="row">
        <div class="feature-card mob-scale">
          <div class="feat-group">
            <div class="col-1">
              <div class="feat-box">
                <div class="feat-img">
                  <img src="assets/icons/icon1.png">
                </div>
                <div class="feat-desc">
                  <h3 class="text-center">Track</h3>
                  <h5 class="text-center">Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet</h5>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="feat-box">
                <div class="feat-img">
                  <img src="assets/icons/icon2.png">
                </div>
                <div class="feat-desc">
                  <h3 class="text-center">Post</h3>
                  <h5 class="text-center">Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet</h5>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="feat-box">
                <div class="feat-img">
                  <img src="assets/icons/icon2.png">
                </div>
                <div class="feat-desc">
                  <h3 class="text-center">Advertise</h3>
                  <h5 class="text-center">Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet</h5>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="feat-box">
                <div class="feat-img">
                  <img src="assets/icons/icon3.png">
                </div>
                <div class="feat-desc">
                  <h3 class="text-center">Find</h3>
                  <h5 class="text-center">Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="team-section landing">
      <div class="team-card mob-scale">
        <div class="row">
          <div class="team-group">
            <div class="col-1">
              <div class="team-box">
                <div class="team-img">
                  <img src="assets/team/team1.jpg">
                </div>
                <div class="team-desc">
                  <h3 class="white-text text-center">Hustler</h3>
                  <h5 class="white-text text-center">Jimmy Razaga</h5>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="team-box">
                <div class="team-img">
                  <img src="assets/team/team2.jpg">
                </div>
                <div class="team-desc">
                  <h3 class="white-text text-center">Hacker</h3>
                  <h5 class="white-text text-center">Elyr Gressin Rosales</h5>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="team-box">
                <div class="team-img">
                  <img src="assets/team/team3.jpg">
                </div>
                <div class="team-desc">
                  <h3 class="white-text text-center">Hipster</h3>
                  <h5 class="white-text text-center">Ara Oblan</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>

<app-admin-home *ngIf="role == 'admin'"></app-admin-home>
