@import "src/styles.scss";
@import "src/grid.scss";

main{
  width: 100%;
  section{
    width: 100%;
    margin: 0 auto;
    .action-bar{
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 100;
      list-style: none;
      background: transparent;
      li{
        display: inline-block;
        padding: 0px 10px;
        button{
          border: 1px solid $midnight-blue;
          color: $emerald;
          border-radius: 9px;
          font-size: 14px;
          background: $midnight-blue;
          &:hover{
            background: $wet-asphalt;
          }
        }
      }
    }
    .post-container{
        position: fixed;
        z-index: 100;
        width: 400px;
        height: calc(100vh - 65px);
        background: rgba(0,0,0,0.05);
        top: 65px;
        right: 0;
        form{
          margin: 10px;
          padding: 10px;
          background: $white;
          border-radius: 9px;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          &::after{
            content: "";
            clear: both;
            display: block;
          }
          h3{
            margin: 0px;
            color: $wet-asphalt;
          }
          textarea{
            border-radius: 9px;
          }
          button{
            border-radius: 9px;
            float :right;
            font-size: 14px;
          }
        }
        .posts{
          padding: 10px;
          height: 100%;
          overflow-y: auto;
          .motorist-post{
            @include animate-slide-up(0px);
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 9px;
            background: $white;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            h5{
              margin: 5px 0px;
              color: $emerald;
              vertical-align: middle;
              span{
                vertical-align: middle;
                color: rgba(0,0,0,0.3);
                font-size: 10px !important;
              }
            }
            p{
              color: $wet-asphalt;
            }
            input{
              display: inline-block;
              font-size: 14px;
              margin: 0;
              width: 75%;
            }
            button{
              float: right;
              width: 25%;
              font-size: 14px;
              padding: 10px;
            }
          }
        }
    }
    .container{
      position: fixed;
      z-index: 100;
      width: 300px;
      height: 100%;
      overflow-y: auto;
      background: $white;
      top: 0;
      left: 0;
      padding: 65px 10px;
      .motorist{
        padding: 10px;
        width: auto;
        border-radius: 9px;
        margin: 10px 0px;
        &:hover{
          background: rgba(0,0,0,0.1);
        }
        &:nth-child(even){
          background: rgba(0,0,0,0.05);
        }
        &:last-child{
          margin-bottom: 65px;
        }
        h2{
          color: $midnight-blue;
          span{
            font-size: 12px;
            vertical-align: middle;
            color: $nephritis;
          }
        }
        p{
          margin: 5px 0px;
        }
      }
    }
  }
}


.cta-card, .feat-card, .team-card{
  width: 1024px;
  margin: 0 auto;
}


.cta-section{
  background: url(assets/bg/alpine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: auto !important;
}

.cta-section .cta-card{
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}


.cta-section .cta-card h1{
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin: 30px 0px;
}

.cta-section .cta-card .cta-btn{
  margin: 20px 0px;
  background: none;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 20px;
}

.cta-section .cta-card a:hover{
  background: #fff;
  color: #29b25b;
}

.cta-section .cta-card a:active{
  background: #E4286D;
  box-shadow: inset 0px 3px 4px rgba(0,0,0,0.2);
}

.feature-section{
  background: #fff;
  background-size: cover;
  height: auto !important;
}

.feature-section .feature-card{
  margin: 0 auto;
  padding: 30px;
}

.feature-section .feature-card h1{
  color: #29b25b;
  text-align: center;
}

.feat-group{
  margin: 50px 0px;
}

.feat-box{
  width: 140px;
  margin: 50px auto;
}

.feat-box .feat-img{
  margin: 20px 0px;
}

.feat-box .feat-img img{
  width: 100%;
  height: auto;
}

.feat-desc{
  text-align: center;
  h3{
    color: $emerald
  }
}


.team-section{
  background-color: $emerald;
  height: auto !important;
}

.team-section .team-card{
  margin: 0 auto;
  padding: 30px;
}

.team-section .team-card h1{
  color: #fff;
  text-align: center;
}

.team-group{
  margin: 80px 0px;
}

.team-box{
  width: 190px;
  margin: 0 auto;
}

.team-box .team-img{
  border-radius: 100%;
  height: 180px;
  width: 180px; 
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
  overflow: hidden;
}

.team-box .team-img img{
  width: 120%;
  height: auto;
  position: relative;
  right: 10%;
}

.team-desc{
  text-align: center;
  color: #fff;
}

@media (max-width: 1024px){
  .mob-scale{
    width: 100% !important;
  }
  .mob-bar{
    display: block !important;
  }
  .link-box{
    position: fixed;
    top: 69px;
    right: -100%;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .link-box.active{
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .link-box li{
    padding: 20px 30px !important;
    display: block !important;
  }
}