<main>
  <section>
    <div class="row">
       <div class="col-1-med">
        <h2>
          Announcement
        </h2>
        <form>
        <h3>Post an announcement</h3>
          <textarea name="aText" [(ngModel)]="aText" placeholder="What do you want to announce?"> </textarea><br>
          <button (click)="submitAnnouncement()" name="button">Post</button>
        </form>
        <div class="notification announcement" *ngFor="let announcement of announcements | async">
          <span><strong>{{announcement.message}}</strong></span>
          <h6>{{announcement.timestamp | date: 'y MMMM d h:mm a'}}</h6>
          <div class="action">
            <button name="button" (click)="removeAnnouncement(announcement)"><i class="remove circle icon"></i></button>
          </div>
        </div>
      </div>
      <div class="col-1-med">
        <h2>
          Subscription
        </h2>
        <div class="notification subscribe" *ngFor="let safezone of safezones | async">
          <span><strong>{{safezone.shop_name}}</strong> has subscribed.</span>
          <div class="action">
            <!--<button name="button"><i class="check circle icon"></i></button>
            <button name="button"><i class="remove circle icon"></i></button>-->
          </div>
        </div>
      </div>
      <div class="col-1-med">
        <h2>
          Emergency
        </h2>
        <h3>
          Pending:
        </h3>
        <div (click)="openLocationModal(emergency)" class="notification emergency" *ngFor="let emergency of emergencies | async">
          <span><strong>{{emergency.description}}</strong></span><br>
          <span>{{emergency.email}}</span>
           <h6>{{emergency.timestamp | date: 'y MMMM d h:mm a'}}</h6>
          <div class="action">
            <button name="button" (click)="respondEmergency(emergency)"><i class="check circle icon"></i></button>
            <button name="button" (click)="removeEmergency(emergency)"><i class="remove circle icon"></i></button>
          </div>
        </div>

        <h3>
          Closed:
        </h3>
        <div class="notification emergency" *ngFor="let emergency of closedEmergencies | async">
          <span><strong>{{emergency.description}}</strong></span><br>
          <span>{{emergency.email}}</span>
           <h6>{{emergency.timestamp | date: 'y MMMM d h:mm a'}}</h6>
          <div class="action">
            <!--<button name="button" (click)="respondEmergency(emergency)"><i class="check circle icon"></i></button>-->
            <button name="button" (click)="removeEmergency(emergency)"><i class="remove circle icon"></i></button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section>

  </section>
</main>

<div class="modal" [class.active]="isLocationModalOpen">
  <div class="container">
    <button (click)="openLocationModal()" name="button"> close </button>
    <app-map *ngIf="isLocationModalOpen" [emergency]="selectedEmergency"></app-map>
  </div>
</div>
