@import "src/styles.scss";
@import "src/grid.scss";

main{
  section{
    h2{
      font-weight: 300;
      color: $nephritis;
    }
    .notification{
      @include animate-appear;
      padding: 20px;
      border-radius: 9px;
      margin-bottom: 10px;
      position: relative;
      &:hover{
        .action{
          @include animate-appear;
          display: block;
        }
      }
      .action{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        button{
          padding: 10px;
          background: transparent;
          color: $wet-asphalt;
          border: none;
          &:hover{
            i.check{
              color: $emerald;
            }
            i.unhide{
              color: $emerald;
            }
            i.remove{
              color: $alizarin;
            }
          }
        }
      }
      &.announcement{
      }
      &:nth-child(even){
        background: rgba(0,0,0,0.1);
      }
      span{
        border-radius: 9px;
        padding: 10px;
        color: rgba(0,0,0,0.3);
        strong{
          color: $wet-asphalt;
        }
      }
    }
  }
}

.modal{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 5100;
  @include animate-appear;
  &.active{
    display: block;
  }
  .container{
    width: 500px;
    margin: 20px auto;
    border-radius: 9px;
    padding: 10px;
    background: $white;
    position: relative;
    button{
      border-radius: 9px;
      font-size: 10px;
      background: $orange;
      position: absolute;
      border: 1px solid $orange;
      top: 10px;
      right: 10px;
      z-index: 100;
      &:hover{
        background: $sunflower;
      }
    }
  }
}
