<header *ngIf="userService.UserAuthState">
	<nav>
		<h4 routerLink="/" routerLinkActive="active">Viaje</h4>
		<ul class="" *ngIf="userService.getRole()=='admin'">
			<li routerLink="/admin/motorists"> <span>MOTORIST</span></li>
			<li routerLink="/admin/safezones"> <span>SAFEZONES</span></li>
			<li routerLink="/admin/notifications"> <span>NOTIFICATIONS</span></li>
			<li routerLink="/user"> <span> PROFILE</span></li>
		</ul>
	</nav>
</header>

<header *ngIf="!userService.UserAuthState">
	<nav>
		<h4 routerLink="/" routerLinkActive="active">Viaje</h4>
		<ul *ngIf="userService.getRole() == 'motorist' || userService.getRole() == 'safezone' || userService.getRole() == ''">
			<li routerLink="/user">Login</li>
		</ul>
	</nav>
</header>
