@import "src/styles.scss";
header{
  position: relative;
  z-index: 5000;
  width: 100%;
  background: $emerald;
  nav{
    width: 100%;
    margin: 0 auto;
    button{
      outline: none;
      background: transparent;
      display: none;
    }
    h4{
      transition: all 0.3s ease-in-out;
      padding: 23px;
      display: inline-block;
      margin: 0;
      color: rgba(0,0,0,0.3) !important;
      letter-spacing: 4px;
      font-weight: 300;
    }
    ul{
      padding: 0px;
      display: inline-block;
      margin: 0px;
      float: right;
      li{
        padding: 0px 10px;
        display: inline-block;
        color: $nephritis;
        transition: all 0.3s ease-in-out;
        letter-spacing: 3px;
        span{
          padding: 5px 0px;
        }
        &::before,&::after{
          transition: all 0.3s ease-in-out;
          display: block;
          content: " ";
          width: 0;
          margin: 10px 0px;
          height: 3px;
          background: $white;
        }
        &:hover{
          cursor: pointer;
          color: $white;
          &::after, &::before{
            width: 100% !important;
          }
        }
      }
    }
  }
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
    width:100px;
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.badge:after{
    position: absolute;
    background: rgba(0,0,255,1);
    height:2rem;
    top:1rem;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid blue;
}

@media (max-width: 1024px){
  nav{
    button{
      display: block !important;
      border: 0px;
      padding: 20px;
      position: absolute;
      top: 10px;
      right: 0px;
      span{
        transition: all 0.3s ease-in-out;
        display: block;
        background: $white;
        height: 3px;
        width: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
      }
      &:hover{
        span{
          &.patty{
            width: 15px;
          }
          &.bottom{
            width: 8px;
          }
        }
      }
      &.active{
        right: 240px;
        span{
          position: relative;
          &.top{
            transform: rotate(45deg);
            top: 8px;
            width: 25px;
          }
          &.patty{
            width: 0px;
          }
          &.bottom{
            transform: rotate(-45deg);
            bottom: 8px;
            width: 25px;
          }
        }
      }
    }
    h4{
      font-size: 26px;
      color: rgba(0,0,0,0.3) !important;
      letter-spacing: 4px;
      font-weight: 300;
    }
    ul{
      transition: all 0.3s ease-in-out;
      background: $white;
      position: absolute;
      top: 0;
      width: 235px;
      right: -100%;
      z-index: 5100;
      height: 100vh;
      box-shadow: 5px 0px 25px $midnight-blue;
      &.active{
        right: 0;
      }
      li{
        padding: 0px 40px !important;
        display: block !important;
        &:hover{
          color: rgba(0,0,0,0.2) !important;
          &::before, &::after{
            background: rgba(0,0,0,0.2) !important;
          }
        }
      }
    }
  }
}
