<header>
	<nav>
		<h4 routerLink="/" routerLinkActive="active">Viaje</h4>
		<ul>
			<li><a routerLink="/motorists"><i class="list layout icon"></i><span> Motorist</span></a></li>
			<li><a routerLink="/safezones"><i class="trophy icon"></i><span> Safezones</span></a></li>
			<li><a routerLink="/notifications"><i class="sort alphabet ascending icon"></i><span> Notifications</span></a></li>
			<li><a routerLink="/user"><i class="user icon"></i><span> Profile</span></a></li>
		</ul>
	</nav>
</header>
