div{
  overflow: hidden;
  width: 100%;
  .sebm-google-map-container {
    width: 100%;
    height: calc(100vh - 65px);
  }
}

@media (max-width: 1024px){
  .sebm-google-map-container{
    height: calc(100vh - 76px) !important;
  }
}
