<ul class="action-bar">
  <li>
    <button name="button" (click)="toggleSafezones()">Safe Zones</button>
  </li>
  <li>
    <button name="button" (click)="togglePosts()">User Posts</button>
  </li>
  <!-- <li>
    <button name="button">Add Route</button>
  </li> -->
</ul>
<div>
  <sebm-google-map *ngIf="onlineusers || markers || posts" [latitude]="10.3157" [longitude]="123.8854" [zoom]="15" (mapClick)="mapClicked($event)">
    <sebm-google-map-marker *ngFor="let user of onlineusers | async" [latitude]="user.latitude" [longitude]="user.longitude" [visible]="true" [iconUrl]="getIcon(user.motorist.type)">
      <sebm-google-map-info-window>
        <h2>{{user.motorist.username}} <span>{{user.motorist.given_name + ' ' + user.motorist.family_name}}</span></h2>
        <p>{{user.motorist.contact_number}} • <span>{{user.motorist.address}}</span></p>
        <p>Plate No. {{user.motorist.vehicle_information_plate_number}} • <span>Type {{user.motorist.vehicle_information_vehicle_type}}</span> • {{user.motorist.vehicle_information_model_year}}</p>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let item of markers | async" [latitude]="item.address.lat" [longitude]="item.address.lng" [visible]="safezoneVisibility" [iconUrl]="getIcon(item.service_information_type)">
      <sebm-google-map-info-window>
        <h2>{{item.shop_name}}</h2>
        <p>{{item.contact_number}} • <span>{{item.address.address}}</span></p>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let post of posts | async" [latitude]="post.lat" [longitude]="post.lng" [visible]="postsVisibility" [iconUrl]="getIcon('warning')">
      <sebm-google-map-info-window>
        <div class="motorist-post">
          <h5>{{post.user.username}} • <span>{{post.timestamp | date: 'h:mm a'}}</span></h5>
          <p>{{post.text}}</p>
            <app-comment [post]="post.$key"></app-comment>
          <input #comment type="text" placeholder="comment here">
          <button type="button" (click)="submitComment(post,comment.value)">Submit</button>
        </div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <app-heat-map></app-heat-map>
  </sebm-google-map>

  <!-- <sebm-google-map *ngIf="markers" [latitude]="10.3157" [longitude]="123.8854" [zoom]="15" (mapClick)="mapClicked($event)">

  </sebm-google-map> -->

  <sebm-google-map *ngIf="!markers && !onlineusers" [latitude]="10.3157" [longitude]="123.8854" [zoom]="15" (mapClick)="mapClicked($event)">
  </sebm-google-map>
</div>
