<main>
  <!-- TODO: BICBIC fix grid-->
  <section>
    <h2>
      Emergency
    </h2>
    <h3>
      Pending:
    </h3>
    <div class="notification" *ngFor="let emergency of emergencies | async">
      <span><strong>{{emergency.description}}</strong></span><br>
      <span>{{emergency.email}}</span>
        <h6>{{emergency.timestamp | date: 'y MMMM d h:mm a'}}</h6>
      <div class="action">
        <button name="button" (click)="openLocationModal(emergency)"><i class="unhide icon"></i></button>
        <button name="button" (click)="respondEmergency(emergency)"><i class="check circle icon"></i></button>
        <!--<button name="button" (click)="removeEmergency(emergency)"><i class="remove circle icon"></i></button>-->
      </div>
    </div>

    <h3>
      Closed:
    </h3>
    <div class="notification emergency" *ngFor="let emergency of closedEmergencies | async">
      <span><strong>{{emergency.description}}</strong></span><br>
      <span>{{emergency.email}}</span>
        <h6>{{emergency.timestamp | date: 'y MMMM d h:mm a'}}</h6>
      <div class="action">
        <!--<button name="button" (click)="respondEmergency(emergency)"><i class="check circle icon"></i></button>-->
        <button name="button" (click)="removeEmergency(emergency)"><i class="remove circle icon"></i></button>
      </div>
    </div>

  </section>
</main>

<div class="modal" [class.active]="isLocationModalOpen">
  <div class="container">
    <button (click)="openLocationModal()" name="button"> close </button>
    <app-map *ngIf="isLocationModalOpen" [emergency]="selectedEmergency"></app-map>
  </div>
</div>
