@import "src/styles.scss";
@import "src/grid.scss";

.safezone-container{
  padding: 10px;
  h1{
    font-weight: 300;
    color: $nephritis;
  }
  form{
    h3{
      font-weight: 300;
      color: $midnight-blue;
    }
    h2{
      font-weight: 300;
      color: $nephritis;
    }
    .radio-group{
      margin-bottom: 10px;
      input[type="radio"]{
        width: auto;
        display: inline-block;
      }
    }
  }
}
