@import "src/styles.scss";

main{
  width: 100%;
  section{
    width: 100%;
    margin: 0 auto;
    .cover-photo{
      width: 100%;
      height: 200px;
      background: rgba(0,0,0,0.2);
    }
    .prof-card{
      width: 1024px;
      margin: 0 auto;
      span{
        font-size: 18px;
        color: rgba(0,0,0,0.2);
      }
      h1{
        color: $emerald;
      }
    }
  }
}