<main>
	<section>
		<div class="prof-card">
			<div *ngIf="user.type == 'admin'">
				<h1><span>Name: </span>{{user.given_name}} {{user.family_name}}</h1>
				<h3><span>Email: </span>{{user.email_address}}</h3>
				<h3><span>Contact #: </span> {{user.contact_number}}</h3>
				<h3><span>Address: </span>{{user.address}}</h3>
			</div>
			<div *ngIf="user.type == 'motorist'">
				<h1><span>Name: </span>{{user.given_name}} {{user.family_name}}</h1>
				<h3><span>Email: </span>{{user.email_address}} </h3>
				<h3><span>Contact: </span> {{user.contact_number}}</h3>
				<h3><span>Address: </span>{{user.address}}</h3>
				<h3><span>License: </span>{{user.license_number}}</h3>
				<h3><span>Model Year: </span>{{user.vehicle_information_model_year}}</h3>
				<h3><span>Plate: </span>{{user.vehicle_information_plate_number}}</h3>
				<h3><span>Vehicle Type: </span>{{user.vehicle_information_vehicle_type}}</h3>
			</div>
			<div *ngIf="user.type == 'safezone'">
				<h1><span>Name: </span>{{user.owner}}</h1>
				<h3><span>Shop: </span>{{user.shop_name}}</h3>
				<h3><span>Service Type: </span>{{user.service_information_type}}</h3>
				<h3><span>Email: </span>{{user.email_address}}</h3>
				<h3><span>Address: </span>{{user.address.address}}</h3>
				<h3><span>Contact: </span> {{user.contact_number}}</h3>
			</div>
			<button (click)="onLogout()">Logout</button>	
		</div>
	</section>
</main>