@import "src/styles.scss";
main{
  height: 100%;
  width: 100%;
  section{
    width: 100%;
    div{
      width: 400px;
      margin: 0 auto;
      padding: 10px;
      form{
        h1{
          color: $emerald;
          font-weight: 300;
        }
        button{
          width: 100%;
        }
      }
      p{
        text-align: center;
        color: rgba(0,0,0,0.2);
        a{
          color: $emerald;
          text-decoration: none;
        }
      }
    }
  }
}


