/* You can add global styles to this file, and also import other style files */
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$white: #fff;
$black: #363635;

*{
  box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

p{
  color: rgba(0,0,0,0.2);
}

input{
  outline: none;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  &:focus{
    border: 1px solid $emerald;
  }
}


button{
  background: transparent;
  padding: 10px 25px;
  font-size: 18px;
  border: 1px solid $nephritis;
  color: $white;
  background: $nephritis;
  transition: all 0.3s ease-in-out;
  &:hover{
    cursor: pointer;
  }
}

main{
  height: calc(100vh - 65px);
  overflow-y: scroll;
  section{
    height: 100%;
    width: 1024px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px){
  section{
    width: 100% !important;
  }
}
