@import "src/styles.scss";

ul{
  max-height: 200px;
  overflow: auto;
  padding-left: 15px;
  list-style: none;
  li{
    margin-bottom: 25px;
    h5{
      color: $nephritis;
      margin: 5px 0px;
    }
    p{
      margin: 5px 0px;
      font-size: 14px;
    }
  }
}
